<div class="Table">
	<div class="Title">
        <p>Autores</p>
    </div>
    <div class="Row">
        <div class="Cell">
            <p>Autor 1</p>
        </div>
        <div class="Cell">
            <img src="/images/f1.png" />
        </div>
    </div>
    <div class="Row">
        <div class="Cell">
            <p>Autora 2</p>
        </div>
        <div class="Cell">
            <img src="/images/f2.png" />
        </div>
    </div>
    <div class="Row">
        <div class="Cell">
            <p>Autor 3</p>
        </div>
        <div class="Cell">
            <img src="/images/f3.ico" />
        </div>
    </div>
</div>
