<form method='POST' action='/login?_method=put'>
	Identificación
	<input type='text' name='login' value='username' />
	<input type='password' name='password' value='' />
	<input type='submit' value='Enviar' />
</form>